body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}

.formContainer {
    width: 348px;
    float: left;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #066bc3;
    margin-bottom: -15px;
}

label {
    text-align: left;
    float: left;
    padding-right: 10px;
    clear: both;
}

.formContainer label {
    width: 150px;
}

.storeContainer {
    width: 403px;
    float: left;
    background: aliceblue;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 7px;
}

.storeContainer label {
    width: 100%;
    text-transform: capitalize;
}

.storeContainer span {
    float: right;
    margin-right: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.storeContainer h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: #7fffd4;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 0px #ff00eb;
    border-radius: 5px;
}

.pdtImage {
    width: auto;
    height: 100%;
    margin-right: 5px;
    border: solid 2px #3c93ad;
}

.storeContainer input {
    width: 20%;
    display: block;
}

input {
    margin-bottom: 10px;
}

.btn {
    display: block;
    padding: 10px;
    background-color: #3d2f33;
    border: solid 0px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 15px;
    clear: both;
}

.btn:hover {
    background: #292325;
    cursor: pointer;
}

.greenbtn.btn {
    background: #109000;
    font-size: 20px;
    width: 50% !important;
    margin: 0px 10px;
}

.greenbtn.btn:hover {
    background: #0f6f03 !important;
    color: #f3f3f3;
    cursor: pointer;
}

.btn.submit {
    float: right;
}

.ast {
    color: red;
}

.inputWrapper {
    display: flex;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
}

.inputWrapper.pdt:hover {
    background: #b4d4fb;
}

.inputWrapper.pdt {
    display: flex;
    vertical-align: middle;
    height: 70px;
    margin: 10px;
    background: #c8e1ff;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 7px;
    cursor: pointer;
}

.radioBtn {
    width: 5% !important;
    margin-left: 28px;
}

.donationBlk {
    width: 140px !important;
}

.formWrapper {
    border: solid;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
}

#ccMonth {
    text-transform: uppercase;
}

.formWrapper input[type=text], label {
    height: 30px;
}

.inputWrapper input[type=text]{
    text-align: center;
}

#addressArea {
    width: 49%;
    height: 50px;
}

.formWrapper label {
    margin-top: 7.5px;
}

.clearFix {
    clear: both;
}

/*error messages*/

#messages {
    margin-bottom: 15px;
}

#messages.error {
    text-align: left;
    padding: 5px;
    background: #fd000c6b;
    border: solid 2px red;
    border-radius: 5px;
    width: 86%;
    margin-bottom: 15px;
}

/* receipt table */

table, td, th {
    border: solid 2px #3d2f33;
    border-collapse: collapse;
    font-size: 15px;
}

#userDetails, table#userDetails td {
    border-bottom: solid 0px !important;
    width: 343px;
}

.table {
    width: 65% !important;
    background: antiquewhite;
}

td.receiptHead {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

td.receiptSubHead {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

div#receipt p {
    color: #0ee000;
    font-size: 24px;
    margin-bottom: 10px;
}

.pushRight {
    text-align: right;
}

.hide {
    display: none;
}

/* footer */

footer p {
    vertical-align: middle;
    bottom: 0;
    margin: 80px;
    text-align: center;
}